<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/api/short">
    <input type="text" name="OU" id="ou" placeholder="Enter th url to shorten">
    <input type="submit" name="submit" id="submit" value="Go">
    </form>
</body>
</html>